<div>
    <h2 data-translate="roulettefilmsApp.film.home.title">Films</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="film.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span class="hidden-xs"  data-translate="roulettefilmsApp.film.home.createLabel">
                        Create new Film
                    </span>
                </button>
            </div>
            <div class="col-xs-8 no-padding-right">
                <form name="searchForm" class="form-inline">
                    <div class="input-group pull-right" >
                        <input type="text" class="form-control" ng-model="vm.searchQuery" id="searchQuery" placeholder="{{ 'roulettefilmsApp.film.home.search' | translate }}">
                        <span  class="input-group-btn width-min" >
                            <button class="btn btn-info" ng-click="vm.search(vm.searchQuery)">
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </span>
                        <span class="input-group-btn width-min" ng-if="vm.currentSearch">
                            <button class="btn btn-info" ng-click="vm.clear()">
                                <span class="glyphicon glyphicon-trash"></span>
                            </button>
                        </span>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.reset()">
                    <th jh-sort-by="id"><span data-translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="filmTitle"><span data-translate="roulettefilmsApp.film.filmTitle">Film Title</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="filmYear"><span data-translate="roulettefilmsApp.film.filmYear">Film Year</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="filmDurationInMinutes"><span data-translate="roulettefilmsApp.film.filmDurationInMinutes">Film Duration In Minutes</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="filmSynopsis"><span data-translate="roulettefilmsApp.film.filmSynopsis">Film Synopsis</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="netflixRatingChartNumber"><span data-translate="roulettefilmsApp.film.netflixRatingChartNumber">Netflix Rating Chart Number</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="filmUrl"><span data-translate="roulettefilmsApp.film.filmUrl">Film Url</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="filmCriticScore"><span data-translate="roulettefilmsApp.film.filmCriticScore">Film Critic Score</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="filmAudienceScore"><span data-translate="roulettefilmsApp.film.filmAudienceScore">Film Audience Score</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="filmNetflixRating"><span data-translate="roulettefilmsApp.film.filmNetflixRating">Film Netflix Rating</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="filmBoxArtLink"><span data-translate="roulettefilmsApp.film.filmBoxArtLink">Film Box Art Link</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="filmCertRating"><span data-translate="roulettefilmsApp.film.filmCertRating">Film Cert Rating</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody infinite-scroll="vm.loadPage(vm.page + 1)" infinite-scroll-disabled="vm.page >= vm.links['last']">
                <tr ng-repeat="film in vm.films track by film.id">
                    <td><a ui-sref="film-detail({id:film.id})">{{film.id}}</a></td>
                    <td>{{film.filmTitle}}</td>
                    <td>{{film.filmYear}}</td>
                    <td>{{film.filmDurationInMinutes}}</td>
                    <td>{{film.filmSynopsis}}</td>
                    <td>{{film.netflixRatingChartNumber}}</td>
                    <td>{{film.filmUrl}}</td>
                    <td>{{film.filmCriticScore}}</td>
                    <td>{{film.filmAudienceScore}}</td>
                    <td>{{film.filmNetflixRating}}</td>
                    <td>{{film.filmBoxArtLink}}</td>
                    <td>{{film.filmCertRating}}</td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="film-detail({id:film.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-xs hidden-sm" data-translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="film.edit({id:film.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs hidden-sm" data-translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="film.delete({id:film.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-xs hidden-sm" data-translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
